@page
@model ExamenDos.Pages.Orden.EditModel
@{
    ViewData["Title"] = (Model.id.HasValue ? "Actualizar Orden" : "Nueva Orden");
}

<div id="AppEdit" class="container-fluid" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>

    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue? "Actualizar Orden" : "Nueva Orden")
        </div>

        <div class="card-body">

            @*Form Control*@
            <form id="FormEdit" method="post">

                <input type="hidden" asp-for="Entity.IdOrden" v-model="Entity.IdOrden" />

                @*Producto*@
                <div class="form-group mb-3">
                    <label for="Entity.NombreProducto" class="form-label">Producto</label>
                    <select asp-for="Entity.IdProducto" class="form-select" v-model="Entity.IdProducto"
                            asp-items="@(new SelectList(Model.ProductList, "IdProducto", "NombreProducto"))" required>
                    </select>
                </div>

                @*Cantidad*@
                <div class="form-group mb-3">
                    <label for="Entity.CantidadProducto" class="form-label">Cantidad</label>
                    <input type="number" class="form-control" asp-for="Entity.CantidadProducto" v-model="Entity.CantidadProducto" min="0" required />
                </div>
                
                @*Estado*@
                <div class="form-check">
                    <label for="Entity.Estado" class="form-check-label">Activo</label>
                    <input type="checkbox" class="form-check-input" asp-for="Entity.Estado" v-model="Entity.Estado" />
                </div>

                <br />

                <div class="row">
                    <div class="col-4">
                        <button type="button" @@click="Save" class="btn btn-primary">
                            @(Model.id.HasValue? "Actualizar" : "Insertar")
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/App/Orden/Edit.js"></script>
}