@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<br />
<h1 class="display-4 text-center">Examen #2 </h1>
<h2 class="display-5 text-center">Programacion 6 (ASP.NET)</h2>
<h2 class="display-7 text-center">Professora: Ana Lucia Matarrita</h2>
<h3 class="display-7 text-center">Hecho Por: William Feliciano Smith</h3>

<br />
<div class="text-center">
    <img src="~/Assets/img/utc.png" alt="Nombre de la universidad (UTC)" />
</div>